.gradient-line {
    opacity: 0.3;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, #BB2723 20%, #DCC038 40%, #61CC31 60%, #23DCD4 80%, #2223DD 100%);
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .gradient-line {
    bottom: 0;
  }
}
