.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5%;
}

.main-nav, #open-nav {
    position: fixed;
    top: 3%;
    left: 3%;
    z-index: 10;
}
#open-nav {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3em;
}
#open-nav:hover {
  animation: roll 0.9s 1;
}
@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-nav {
    display: none;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

.close {
    position: absolute;
    top: 1%;
    right: 8%;
}

.main-nav ul {
    padding: 0;
    margin: 0;
}

.main-nav a {
    color: black;
    font-family: VT323;
    font-size: 1.5em;
}

.main-nav a:hover {
    text-shadow:-1px 0 rgba(232, 48, 69, 0.6);
}
/*H1*/
h1 a, .wrap {
  font-family: VT323;
  font-size: 1.5em;
  text-shadow:
  -3px 0 rgba(232, 48, 69, 0.5)/*,
  -4px 0 rgba(97, 204, 49, 0.5),
  -4px 0 rgba(34, 35, 221, 0.5)*/
  ;
}
.title-big-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-ctn {
    width: 80%;
    display: flex;
    justify-content: center;
}

.title-ctn a {
    width: 100%;
    display: block;
}

.scroll-me {
    box-sizing: border-box;
    /*position: absolute;
    bottom: -1px;
    margin-left: 50%;
    border-left: 1px solid white;
    padding: 1%;*/
    display: block;
    width: 50%;
    margin: 0 auto;
}


/*.scroll-me p {
    font-family: VT323;
}*/

.scroll-me a {}

.scroll-me img {
    display: block;
    margin: -7% auto 0;
}


/*********MEDIA QUERIES*********/


/*MOBILE*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .header {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .main-nav, #open-nav {
        position: fixed;
        z-index: 10;
    }
    #open-nav {
        top: 1%;
        left: 70%;
    }
    .main-nav {
        top: 0%;
        left: 60%;
        width: 40%;
    }
    .close {
      top: 4%;
      right: 10%;
    }
    h1 a, .wrap {
      font-size: 1.2em;
      text-align: center;
    }
    .title-ctn {
        width: 95%;
    }
    .scroll-me {
        padding: 3% 5% 13% 2%;
        width: 63%;
    }
    .scroll-me img {
        width: 27%;
        margin: -58% auto 0;
    }
}
