.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  padding-bottom: 5%;
}
.avatar-ctn, .avatar-ctn img {
  height: 100%;
}
.avatar-ctn img {
  opacity: 0.5;
}
.scroll-me {
  box-sizing: border-box;
  position: absolute;
  bottom: -1px;
  margin-left: 50%;
  border-left: 1px solid white;
  padding: 1%;
}
.scroll-me p {
  font-family: VT323;
}
.scroll-me img {
  width: 20%;
}

/*********MEDIA QUERIES*********/
/*MOBILE*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    overflow-x: hidden;
  }
  .header {
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
  }
  .name-glitched {
    font-size: 3em;
  }
  .scroll-me {
    padding: 3% 5% 10% 5%;
  }
  .scroll-me img {
    width: 80%;
  }
}
