.lang-row {
  height: 100%;
  padding-top: 3%;
}
.lang-logo-ctn img {
  height: 75px;
  display: block;
  margin: 0 auto;
}

.progress-bar, .level {
  border-radius: 3px;
}
.progress-bar {
    position: relative;
    background-color: black;
    height: 20px;
    width: 100%;
    margin: 10px 0;
}
.skill-level {
  height: 1em;
  margin: 25px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.html-progress span {
  background: linear-gradient(#E44D26,#FF862A,#E44D26);
  border: 1px solid rgba(228,77,38,0.7);
}
.css-progress span {
  background: linear-gradient(#1572B6,#4A9AB6,#1572B6);
  border: 1px solid rgba(21,114,182,0.7);
}
.js-progress span {
  background: linear-gradient(#F0DB4F,#F0E47D,#F0DB4F);
  border: 1px solid rgba(240,219,79,0.7);
}
.bootstrap-progress span {
  background: linear-gradient(#5B4282,#9169CE,#5B4282);
  border: 1px solid rgba(91,66,130,0.7);
}
.jquery-progress span {
  background: linear-gradient(#0868AC,#0C96F8,#0868AC);
  border: 1px solid rgba(8,104,172,0.7);
}
.angular-progress span {
  background: linear-gradient(#C4473A,#C46A5A,#C4473A);
  border: 1px solid rgba(196,71,58,0.7);
}
.php-progress span {
  background: linear-gradient(#6181B6,#89a1c7,#6181B6);
  border: 1px solid rgba(97,129,182,0.7);
}
.mysql-progress span {
  background: linear-gradient(#00618A,#1f7498,#00618A);
  border: 1px solid rgba(0,97,138,0.7);
}
.wp-progress span {
  background: linear-gradient(#494949,#6d6d6d,#494949);
  border: 1px solid rgba(73,73,73,0.7);
}
.symfony-progress span {
  background: linear-gradient(#1A171B,#332d36,#1A171B);
  border: 1px solid rgba(26,23,27,0.7);
}

.skill-level span {
  width: 15%;
  height: 8px;
  display: inline-block;
  margin: 0 1px;
}
.show-0 span:nth-child(n+1) {
  background: white;
  border: 0.5px solid white !important;
}
.show-1 span:nth-child(n+2) {
  background: white;
  border: 0.5px solid white !important;
}
.show-2 span:nth-child(n+3) {
  background: white;
  border: 0.5px solid white !important;
}
.show-3 span:nth-child(n+4) {
  background: white;
  border: 0.5px solid white !important;
}
.show-4 span:nth-child(n+5) {
  background: white;
  border: 0.5px solid white !important;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .lang-row {
    padding-top: 8%;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}


/*Another level bar style*/
/*.level {
    position: absolute;
    top: 14%;
    left: 1%;
    display: inline-block;
    margin: auto;
    height: 77%;
}*/
/*#html-progress {
    width: 80%;
    /*background-color: #E44D26;
}*/
/*#css-progress {
    width: 70%;
    background-color: #1572B6;
}*/
/*#js-progress {
    width: 40%;
    background-color: #F0DB4F;
}*/
/*#bootstrap-progress {
    width: 70%;
    background-color: #5B4282;
}*/
/*#jquery-progress {
    width: 30%;
    background-color: #0868AC;
}*/
/*#angular-progress {
    width: 20%;
    background-color: #C4473A;
}*/
