/*BASIC PROPERTIES*/
.ctn {
    width: 100%;
    height: 100%;
}
.baby-ctn {
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    padding-bottom: 2% !important;
}
.no-txt h2 {
  padding: 2.5% 30% 1%;
  margin-top: 0;
}
/*Centered sections*/
#bio, .background-ctn, .contact-ctn {
  display: flex;
  align-items: center;
}
/*BIO*/
#bio { /*<--Parent*/
  padding-top: 5%;
}
.bio-ctn {
  padding: 5% 30% 2% 30%;
}
.bio p {
  text-align: justify;
  margin: 5px 0;
}

/*LANGUAGES*/
.languages-ctn .col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}

/*BACKGROUND & STUDIES*/
.background h2, .studies h2 {
  padding-top: 5.5%;
}
.exp {
  position: relative;
}
.icon-alex img{
  padding: 1px;
}
.glasses {
  width: 20%;
}
.lightning, .union, .friends {
  width: 15%;
  margin-right: 5%;
}
.exp-left, .exp-right{
  display: inline-block;
}
.exp-left {
  width: 40%;
}
/*CONTACT*/
.contact-ctn {
  position: relative;
}
.contact h2 {
  margin-bottom: 2%;
}
.contact-links .row {
  margin-bottom: 3%;
}
.contact-links .row img {
  width: 70%;
}
.link-row {
  padding-left: 0;
}
.contact-links .link-row a {
  display:block;
  margin-top: 2%;
  position: relative;
  overflow: hidden;
  padding:0 6px;
  text-transform: uppercase;
  transition: color .8s cubic-bezier(0.11, 0.7, 0, 1);
  font-size: 1.1em;
  letter-spacing: .15rem;
  line-height: 1.8;
}

.contact-links .link-row a{
  position: relative;
  z-index:1;
  padding:2px 6px;
}
.red:after {
  background-color: #BB2723;
}
.green:after {
  background-color: #228B22;
}
.blue:after {
  background-color: #2223DD;
}
.contact-links .link-row a:after {
  position: absolute;
  top:0; bottom: 0;
  right: 0;left: 0;
  display: block;
  /*background-color: #BB2723;*/
  content: "";
  transform: translate3d(-101%,0,0);
  z-index:-1;
  transition: transform .8s cubic-bezier(0.11, 0.7, 0, 1);
}


.contact-links .link-row a:hover {
  color: #fff;
}

.contact-links .link-row a:hover:after {
  transform: translate3d(0,0,0);
}
.up {
  display: none;
  position: fixed;
  bottom: 3%;
  right: -1%;
}
.up img {
    width: 40%;
}

/*********MEDIA QUERIES*********/
/*MOBILE*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  h2 {
    margin-top: 0;
  }
  .baby-ctn {
    padding: 5% 2% 10% 2%;
    padding-bottom: 10% !important;
    background-color: rgba(0,0,0,0.2);
  }
  .no-txt h2 {
    padding: 0;
  }
  .col-md-6 {
    padding-left: 0;
  }
  .exp {
    padding-left:0;
  }
  .exp-left {
    width: 70%;
  }
  .studies {
    margin-top: 15%;
  }
  .contact h2 {
    padding-bottom: 20%;
  }
  .contact-links .row img {
    width: 70%;
    margin: 0 auto;
    display: inline-block;
  }
}
