.shape {
    position: absolute;
    z-index: -1;
    /*overflow-x: hidden;*/
}

.triangle-green-01 {
    /*background-image: url(/images/triangle-green-01.png);*/
    top: 263%;
    left: 7%;
    transform: rotate(60deg);
}

.triangle-blue-01 {
    top: 351%;
    right: 7%;
    transform: rotate(147deg);
}

.triangle-pink-01 {
    top: 244%;
    right: 20%;
    transform: rotate(127deg);
}

.triangle-orange-01 {
    top: 170%;
    left: 10%;
    transform: rotate(70deg);
}

.line-yellow-01 {
    width: 20px;
    left: 84%;
    top: 152%;
    transform: rotate(70deg);
}

.triangle-red-01 {
    left: 20%;
    top: 362%;
    transform: rotate(100deg);
}

.triangle-purple-01 {
    left: 4%;
    top: 472%;
    transform: rotate(60deg);
}

.line-turquoise-01 {
    left: 74%;
    top: 432%;
    transform: rotate(70deg);
}

.line-pink-01 {
    width: 30px;
    left: 31%;
    top: 535%;
    transform: rotate(110deg);
}

.triangle-yellow-01 {
    right: 10%;
    top: 552%;
    transform: rotate(80deg);
}
.round-black-01 {
  left: 10%;
  top: 652%;
}
.line-green-01 {
  width: 25px;
  right: 15%;
  top: 652%;
  transform: rotate(30deg);
}
/*MOBILE*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .triangle-orange-01 {
        width: 33%;
        left: 14%;
    }
    .triangle-green-01 {
        width: 150px;
        top: 120%;
        right: 10%;
        transform: rotate(60deg);
    }
    .triangle-pink-01 {
        top: 258%;
        left: 54%;
    }
    .triangle-blue-01 {
        right: 15%;
    }
    .triangle-yellow-01 {
        right: 8%;
        width: 50%;
        top: 522%;
    }
    .triangle-red-01 {
        left: 8%;
        width: 70%;
        top: 345%;
    }
    .triangle-blue-01 {
        top: 695%;
    }
    .line-pink-01 {
        width: 24px;
        left: 48%;
        top: 639%;
        transform: rotate(110deg);
    }
    .line-yellow-01 {
        left: 58%;
    }
    .line-turquoise-01 {
        width: 25px;
        top: 267%;
        left: 45%;
    }
    .triangle-purple-01 {
        left: 12%;
        top: 487%;
        transform: rotate(60deg);
        width: 50%;
    }
    .round-black-01 {
      top: 820%;
      width: 50%;
    }
    .line-green-01 {
      top: 815%;
    }
}
